@import url(reset.css);

@font-face {
	src: url("../fonts/MagistralC.woff");
	font-family: MagistralC;
}

@font-face {
	src: url("../fonts/MagistralC-Bold.woff");
	font-family: MagistralCBold;
}

#wrapper {
	width: 1024px;
	height: 3200px;
	margin: 0 auto;
	outline: 1px solid #c1c1c3;
}

/* Start DIV header-top */

#header-top {
	height: 85px;
	background-color: #f3f3f3;
	position: relative;
}

#logo {
	width: 170px;
	height: 49px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 25px;
	left: 15px;
}

#logo a{
	display: block;
	height: 49px;
	cursor: pointer;
}

#phone, #email {
	height: 45px;
	padding: 10px 0 0 48px;
	position: absolute;
	background-repeat: no-repeat;
}

#phone {
	width: 282px;
	top: 25px;
	left: 230px;
	background-image: url(../img/phone.png);
}

#email {
	width: 237px;
	top: 25px;
	right: 179px;
	background-image: url(../img/mail.png);
	background-position: 0 5px;
}

#phone p.p1, #email p.p1 {
	float:left;
	font: 11px Arial, sans-serif;
	color: #969594;
}

#phone a.tel, #email a.email {
	text-decoration: none;
	font: 25px MagistralC;
	color: #AACB56;
	margin-left: 5px;
}

#phone a.tel {
	cursor: default;
}

#phone a.tel span, #email a.email span {
	color: #6CB35F;
}

#phone a.call {
	float: right;
	margin-right: 25px;
	font: 10px Arial, sans-serif;
	color: #48433D;
	text-decoration: none;
	border-bottom: 1px solid black;
	padding-bottom: 3px;
}

#phone a.call:hover {
	color: #6CB35F;
	border-bottom: 1px solid #6CB35F;
}

#social {
	width: 150px;
	height: 60px;
	position: absolute;
	top: 15px;
	right: 0px;
}

#social p {
	font: 19px MagistralC;
	color: #AFAEAE;
}

/* End DIV header-top & Start header-nav */

#header-nav {
	height: 60px;
	background-image: url(../img/headerNavBg.png);
	background-repeat: no-repeat;
	position: relative;
}

#search {
	width: 150px;
	position: absolute;
	bottom: 0;
	left: 15px;
}

#search .text {
	margin: 0;
	border: 2px solid #ccc;
	height: 20px;
	width: 115px;
	padding-left: 5px;
	font: 11px Arial, sans-serif;
	color: #969594;
	float: left;
	-webkit-appearance: none;
}

#search .text:focus {
	border: 2px solid #6CB35F;
}

#search .submit {
	width: 20px;
	height: 20px;
	margin: 0 0 0 3px;
	padding:0;
	border: 0;
	background: url("../img/find.png") no-repeat center top;
	text-indent: -1000em;
	cursor: pointer; 
	vertical-align: middle;
}

#menu {
	width: 738px;
	height: 32px;
	position: absolute;
	bottom: -5px;
	right: 0px;
}

#menu li {
	float: left;
	border: 1px solid #a6a6a8;
	width: 116px;
	margin-left: 1px;
	height: 30px;
	border-radius: 5px;
	background-color: #f1f1f3;
	text-align: right;
	font: 15px Arial, sans-serif;
	color: #48433D;
	background-repeat: no-repeat;
	background-position: 10px 5px;
	position: relative;
}

#menu li a {
	padding: 6px 6px 0 0;
	display: block;
	cursor: pointer;
	height: 24px;
	font: 15px Arial, sans-serif;
	color: #48433D;
	text-decoration: none;
}

.submenu {
	display: none;
	position: absolute;
	left: -1px;
	top: 30px;
	border-radius: 0 0 5px 5px;
	background-color: #f1f1f3;
	border: 1px solid #a6a6a8;
	border-top: none;
	width: 116px;
}

#menu li ul li {
	width: 111px;
	border: none;
	border-bottom: 1px solid #a6a6a8;
	margin: 0;
	border-radius: 0;
	text-align: left;
	height: 22px;
	padding: 8px 0 0 5px;
	overflow: hidden;
}

#menu li:hover a {
	text-decoration: underline;
	color: #6CB35F;
}

#menu li:hover ul li a {
	font: 13px Arial, sans-serif;
	text-decoration: none;
	color: #48433D;
	padding: 0;
}

#menu li.isParent:hover  {
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

#menu li ul li:hover a {
	color: #fff;
}

#menu li ul li:hover {
	background-color: #6CB35F;
	border-radius: 0;
	border-bottom: 1px solid #a6a6a8;
	margin: 0;
}

#menu li:hover ul {
	display: block;
}

#menu li ul li:last-child {
	border-radius: 0 0 5px 5px;
	border-bottom: 0;
}

#menu li.company {
	background-image: url("../img/menuCompany.png");
}

#menu li.clients {
	background-image: url("../img/menuClients.png");
}

#menu li.products {
	background-image: url("../img/menuProducts.png");
}

#menu li.service {
	background-image: url("../img/menuService.png");
}

#menu li.contacts {
	background-image: url("../img/menuContacts.png");
}

#menu li.stock {
	background-image: url("../img/menuStock.png");
}

/* End DIV header-nav & Start sidebar */

#sidebar {
	width: 250px;
	outline: 0px solid red;
	margin: 30px 0 0 15px;
	float: left;
}

#auth {
	width: 170px;
	height: 122px;
}

#auth h3 {
	font: 14px Arial, sans-serif;
	color: #89BD5C;
}

#auth h4 {
	margin: 12px 0 3px 0;
	font: 12px Arial, sans-serif;
	color: #747270;
}

#auth .login, #auth .password {
	margin: 0;
	border: 2px solid #ccc;
	height: 14px;
	width: 115px;
	padding-left: 5px;
	font: 11px Arial, sans-serif;
	color: #969594;
	float: left;
	-webkit-appearance: none;
}

#auth .login:focus, #auth .password:focus {
	border: 2px solid #6CB35F;
}

#auth .password {
	margin-top: 7px;
}

#auth p {
	float: left;
	font: 10px Arial;
	margin-left: 5px;
	color: #C8C8C8;
}

#auth .p1 {
	margin-top: 3px;
}

#auth .p2 {
	margin-top: 10px;
}

#auth .submit {
	background-color: #f1f1f3;
	border: 1px solid #ccc;
	font: 12px Arial, sans-serif;
	width: 60px;
	height: 20px;
	margin-top: 7px;
	color: #747270;
}

#leftMenu {
	width: 250px;
	margin-top: 25px;
}

#leftMenu li a {
	text-decoration: none;
	font: bold 13px Arial, sans-serif;
	color: #527738;
	display: block;
	height: 22px;
	background-image: url("../img/rubrikatorBG.jpg");
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	padding: 6px 0 0 3px;
}

#leftMenu li a:hover {
	text-decoration: underline;
}

#leftMenu li {
	margin-top: 10px;
}

#leftMenu .inLeftMenu {
	
}

#leftMenu .inLeftMenu li {
	margin: 3px 0 0 0;
}

#leftMenu .inLeftMenu li a {
	background: none;
	border: none;
	font: 14px Arial, sans-serif;
	color: #999;
	height: auto;
	
	padding: 0 0 0 20px;
}

#leftMenu .inLeftMenu li a:hover {
	background-color: #F7F7F7;
	color: #000;
	text-decoration: none;
}

#news {
	margin-top: 15px;
	padding: 35px 10px 0 5px;
	background-image: url("../img/news.png");
	background-repeat: no-repeat;
}

#news .date {
	font: bold 11px Arial, sans-serif;
	color: #89BD5C;
}

#news .text {
	font: 12px Arial, sans-serif;
	color: #969594;
	padding-left: 5px;
}

#news table td {
	padding-top: 10px;
}

#news table {
	margin-bottom: 5px;
}

#news a {
	font: bold 12px Arial, sans-serif;
	color: #89BD5C;
}

#news a:hover {
	color: #FF481D;
}

#glossary {
	height: 46px;
	padding: 15px 0 0 70px;
	background-image: url("../img/glossary.png");
	background-repeat: no-repeat;
	margin-top: 15px;
}

#glossary a{
	font: bold 14px Arial, sans-serif;
	color: #89BD5C;
}

#glossary a:hover {
	color: #FF481D;
}

/* End DIV sidebar & Start content */

#content {
	width: 710px;
	outline: 1px solid red;
	float: right;
	margin: 30px 25px 0 0;
}

#slider {
	height: 380px;
	background-color: #4e4c4d; 
}

#slider h2 {
	font: bold 37px MagistralC;
	color: #fff;
	height: 40px;
	margin-left: 5px;
}

#changeUs {
	margin-top: 40px;
	height: 112px;
}

#sevenBG {
	float: left;
	width: 64px;
	height: 112px;
	border-right: 2px solid #94cf73;
	background-image: url("../img/seven.png");
	background-repeat: no-repeat;
	background-position: 0 10px;
}

#changeUs-text {
	float: left;
	width: 450px;
	margin-left: 7px;
}

#changeUs-text h2 {
	font: bold 26px MagistralC;
	color: #6A6866;
}

#changeUs-text p {
	margin-top: 13px;
	font: 13px Arial, sans-serif;
	color: #969594;
}

#changeUs-text a {
	float: right;
	font: 10px Arial,sans-serif;
	color: #89BD5C;
}

#changeUs-text a:hover {
	color: #FF481D;
}

#solutions {
	margin-top: 25px;
}

#solutions h2 {
	font: bold 26px MagistralC;
	color: #6A6866;
}

#solutions li {
	width: 152px;
	height: 185px;
	float: left;
	margin-left: 34px;
}

#solutions li.first {
	margin-left: 0;
}

#solutions a {
	display: block;
	height: 30px;
	padding-top: 155px;
	text-align: center;
	font: 14px Arial;
	color: #969594;
	text-decoration: none
}

#solutions a:hover {
	color: #89BD5C;
	font: bold 14px Arial;
}

#solutions ul {
	margin-top: 20px;
}

#solutions .energy {
	background-image: url("../img/solutions/energy.jpg");
	background-repeat: no-repeat;
}

#solutions .oilGas {
	background-image: url("../img/solutions/oilGas.jpg");
	background-repeat: no-repeat;
}

#solutions .chemisty {
	background-image: url("../img/solutions/chemisty.jpg");
	background-repeat: no-repeat;
}

#solutions .medicina {
	background-image: url("../img/solutions/medicina.jpg");
	background-repeat: no-repeat;
}

#solutions .telecom {
	background-image: url("../img/solutions/telecom.jpg");
	background-repeat: no-repeat;
}

#solutions .proizvodstvo {
	background-image: url("../img/solutions/proizvodstvo.jpg");
	background-repeat: no-repeat;
}

#solutions .transport {
	background-image: url("../img/solutions/transport.jpg");
	background-repeat: no-repeat;
}

#call {
	margin-top: 40px;
	height: 112px;
}

#callBG {
	float: left;
	width: 68px;
	height: 112px;
	border-right: 2px solid #94cf73;
	background-image: url("../img/call.png");
	background-repeat: no-repeat;
}

#call-text {
	float: left;
	width: 450px;
	margin-left: 7px;
}

#call-text h2 {
	font: bold 26px MagistralC;
	color: #6A6866;
}

#call-text p {
	margin-top: 13px;
	font: 13px Arial, sans-serif;
	color: #969594;
}

#call-text a {
	font: 10px Arial,sans-serif;
	color: #89BD5C;
	margin-left: 75px;
}

#call-text a:hover {
	color: #FF481D;
}

#catalog {
	margin-top: 30px;
}	

#catalog h2 {
	font: bold 26px MagistralC;
	color: #6A6866;
}

#catalog ul {
	margin-top: 15px;
}

#catalog li {
	float: left;
	width: 120px;
	height: 155px;
	margin-left: 27px;
	outline: 1px solid red;
}

#catalog a.text {
	display: block;
	height: 30px;
	margin-top: 5px;
	text-align: center;
	font: 13px Arial;
	color: #969594;
	text-decoration: none;
}

#catalog a.bg {
	display: block;
	height: 120px;
	background-repeat: no-repeat;
}

#catalog li:hover a{
	color: #89BD5C;
	font: bold 13px Arial;
}

#catalog li.first {
	margin-left: 0;
}

#catalog li:hover a.bg {
	background-position: 0 -120px;
}

#catalog .ups {
	background-image: url("../img/catalog/ups.png");
}

#catalog .dgu {
	background-image: url("../img/catalog/dgu.png");
}

#catalog .shield {
	background-image: url("../img/catalog/shield.png");
}

#catalog .battery {
	background-image: url("../img/catalog/battery.png");
}

#catalog .avr {
	background-image: url("../img/catalog/avr.png");
}

.clear {
	clear: both;
}